version: '3.9'
services:
  postgres:
    image: postgres:16
    # environment:
      # POSTGRES_USER: pos
      # POSTGRES_PASSWORD: 12345
      # POSTGRES_DB: posdb
    # image: postgres:17
    env_file:
      - .env

    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    ports:
      - "5050:80"
    env_file:
      - .env
    depends_on:
      - postgres

  meilisearch:
    image: getmeili/meilisearch:latest
    ports:
      - "7700:7700"
    env_file:
      - .env
    environment:
      MEILI_NO_ANALYTICS: "true"

volumes:
  pgdata:
